/* スタイルリセット */
header, div, h1, h2, h3, nav, ul, section {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: arial, sans-serif、”メイリオ”;
    color: #333;
}

h2 {
    border-bottom: 3px double #ccc;
    padding-left: 5px;
}
a {
    color: dodgerblue;
    text-decoration: none;
}
a:hover {
    transition: 0.15s;
    color: #999;
}

.wrapper {
    display: flex;
    flex-direction: column;
}
.title {
    display: flex;
    flex: 0 0 100px;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    margin: 30px 0px 30px 0px;
    letter-spacing: 5px;
}
.main {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
}
.main__menu {
    flex: 0 1 230px;
    padding-right: 30px;
}
.menu__sub {
    margin: 10px;
}

.main__directions {
    flex: 1 0 300px;
}
[class^="directions__item"] {
    margin: 10px 10px 10px 5px;
}
ol {
    margin: 0px;
    padding: 5px 0px 20px 30px;
}